.appFooter {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 6vh;
    font-size: 2rem;
    font-weight: 100;
    color: #fff;
    background-color: #568b33;
}
