@import './colorAndFont';

.appHeader {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: $main-color;

    h1 {
        order: -2;
        margin: 0 3%;
        box-sizing: content-box;
        font-size: 4rem;
        color: #FFF;
    }
}

.navigation {
    display: flex;
    min-height: 7vh;
    min-width: 15%;

    .headerLink {
        flex: 1 1;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 7vh;
        padding: 0 5%;
        font-size: 3rem;
        color: #FFF;

        &:hover {
            background-color: #3d6324;
        }
    }
}

.signing {
    position: absolute;
    right: 2%;
    box-sizing: content-box;
    font-size: 1.6rem;
    font-weight: 600;
    
    span {
        margin: 0 5px;
        color: #fff;
    }
}

.signButton {
    display: inline-block;
    margin: 4px 2px;
    padding: 3% 10px;
    border: none;
    border-radius: 8px;
    background-color: #f3f3f3;
    text-align: center;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: inherit;
    color: $main-color;
    cursor: pointer;

    &:focus {
        outline: none;
    }
    &:active {
    background-color: #c4c4c4;
    }
}

@media (max-width: 768px) {
    .appHeader {
        justify-content: space-between;
    }

	.signing {
        order: -1;
        position: static;
        
        *:not(:first-child) {
            display: none;
        }
    }

    .navigation {
        width: 100%;

        .headerLink {
            padding: 1% 5%;
        }
    }
}